@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Prompt', sans-serif;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.hero-part{
}
.half-width{
    width: 50%;
    float: left;
}
.half-width h2 {
	font-size: 40px;
	line-height: 0;
	padding-bottom: 13px;
    color: orange;
}
.half-width h1 {
	font-size: 43px;
	line-height: 0;
}
.half-width p {
	font-size: 20px;
	color: darkslategray;
}
.link-button{
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(45deg, orange,darkorange);
    padding: 10px 30px;
    border-radius: 5px;
}
.circle {
	width: 400px;
	height: 400px;
	background-color: blue;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 38%;
	margin-right: auto;
	margin-top: 2%;
}
.half-width img {
	width: 89%;
	margin-left: 18px;
	margin-top: -23px;
	overflow: hidden;
}